
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Design System: tokens para modos dark/light */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #121212;

    --card: #ffffff;
    --card-foreground: #121212;

    --muted: #f5f5fa;
    --muted-foreground: #444444;

    --primary: #4c1d95;
    --primary-foreground: #ffffff;

    --sidebar-background: #f8f8fa;
    --sidebar-foreground: #444444;
    --sidebar-primary: #4c1d95;
    --sidebar-primary-foreground: #ffffff;

    --border: #eaeaec;
    --radius: 0.5rem;
  }

  .dark {
    --background: #121212;
    --foreground: #ffffff;

    --card: #1f1f2b;
    --card-foreground: #ffffff;

    --muted: #202030;
    --muted-foreground: #bbbbbb;

    --primary: #4c1d95;
    --primary-foreground: #ffffff;

    --sidebar-background: #181828;
    --sidebar-foreground: #dddddd;
    --sidebar-primary: #4c1d95;
    --sidebar-primary-foreground: #ffffff;

    --border: #23233b;
    background-color: #121212 !important;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
